{{- if .Values.redis.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "fullname" . }}-redis
spec:
  type: {{ .Values.redis.service.type }}
  selector:
    app: redis
  ports:
    - port: {{ .Values.redis.service.port }}
      targetPort: 6379
      protocol: TCP
{{- end }}
